.body {
  font-family: "Ubuntu", sans-serif;
  background-image: url(../imeg/background.png);
  background-size: cover;
}
.header {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 18px 79px;
}
.logo-link {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  transition: 0.4s;
}
.logo-link:hover{
  color: #3cb878;
}
.header-wrapper {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}
.header-icons {
  margin-left: 26px;
}
.header-icons-path {
  transition: 0.3s;
}
.header-icons-path:hover {
  fill: #3cb878;
}
.header-link {
  color: #ffffff;
  transition: 0.4s;
}
.header-link:hover {
  color: #3cb878;
}
.header-text {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 26px;
}
.header-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-image: url(../imeg/line.svg);
  margin-right: 26px;
  width: 1px;
  height: 19px;
  background: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  opacity: 0.5;
}
.main {
  height: 100vh;
  display: flex;
  flex-flow: column;
}
.form {
  width: 444px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  position: relative;
}
.green-square {
  position: absolute;
  left: 0;
  top: 30px;
}
.form-sign {
  color: #434343;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 15px;
}
.form-log {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  justify-self: end;
  transition: 0.4s;
}
.form-log:hover {
  color: #01813f;
}
.authorization-link {
  background: #305db8;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  width: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 22px;
  padding-left: 16px;
  margin-bottom: 31px;
  transition: 0.4s;
}
.color-google {
  background: #df4a32;
  transition: 0.4s;
}
.color-google:hover {
  background: #ab1f09;
}
.color-facebook:hover {
  background: #022263;
}
.fieldset {
  grid-area: 3 / 1 / 3 / 3;
  text-align: center;
  border-top: 1px solid #f2f2f2;
  padding: 11px 0 0;
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
  margin: 0;
}
.label {
  display: none;
}
.form-field {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}
.form-field:focus {
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}
.form-checkbox {
  display: none;
}
.form-checkbox-label {
  grid-area: 4 / 1 / 4 / 3;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  margin-left: 0;
  margin-bottom: 20px;
  margin-top: 0;
  cursor: pointer;
  position: relative;
}
.form-checkbox-text {
  color: #3cb878;
  padding-left: 4px;
  transition: 0.4s;
}
.form-checkbox-text:hover {
  color: #01813f;
  text-decoration: underline;
}
.form-svg {
  margin-right: 8px;
}
.form-svg2 {
  position: absolute;
  left: 3px;
  display: none;
}
.form-checkbox:checked + .form-checkbox-label > .form-svg2 {
  display: block;
}
.form-submit {
  grid-area: 5 / 1 / 5 / 3;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  margin-bottom: 38px;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
  transition: 0.4s;
}
.form-submit:hover {
  background: #01813f;
}
